// Place all the styles related to the routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@media (min-width: 768px) {
    .boxA:after { 
        content: "";
        display: block;
        clear :none
    }
    .box3 {
        float: left;
        width: 70%
    }
    .box4 {
        float: left;
        width: 30%;
        background-color: #eeeeee
    }
}    

    .box2 {
        background-color: #7cbac1
    }
    .box5 {
        border-top: solid 1px #dddddd;
        float: left;
        width: 100%;
        background-color: #7cbac1
    }
    .box3 {
        padding-right: 50px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }



    .profile {
        background-color: #ffffff

    }



.box1 h1 a {
    color: #000000;
    text-decoration: none
    }
.box1 h1 {
    margin :0;
    font-size :40px
    }
.box1 p {
    margin: 0;
    font-size: 16px
    }

.menu ul  {
    margin: 0;
    padding: 0;
    list-style: none
    // text-align: right;
    }
.menu li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-decoration: none
    }
.menu li a:hover {
    background-color: #eeeeee
    }
.menu ul:after {
    content: "";
    display: block;
    clear: both
    }
.menu li {
    float: left;
    width: auto
    }


.kiji h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px
    }
.kiji p {
    margin-top: 0;
    margin-bottom: 20px
    }


.sidemenu ul {
    margin: 0;
    padding: 0;
    list-style: none
    }
.sidemenu li a {
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 14px;
    text-decoration: none
    }
.sidemenu li a:hover {
    background-color: #eeeeee
    }
.sidemenu h1 {
    margin-top: 0;
    margin-bottom: 10px; 
    border-bottom: dotted 2px #dddddd;
    color: #666666;
    font-size: 18px
}


